body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 40%;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.line-through{
  text-decoration: line-through;
}

h5{
  margin-left: 10px;
}

.tasks-list{
  padding-bottom: 30px;
}

.description{
  background-color:#EEE6FF;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
}

.done{
  opacity: 0.6;
}

.side-bar{
  position: fixed;
  margin: auto;
  box-sizing: border-box;
  height: 100vh;
}

.left-bar{
  left: 10%;
  top: 13%;
  margin: auto;
  padding-right: 12px;
  border-right: 1px solid gainsboro;
}

.right-bar{
  right: 10%;
  top: 13%;
  margin: auto;
  padding-left: 12px;
  border-left: 1px solid gainsboro;
}
